# SECURITY WARNING: don't run with the debug turned on in production!
DEBUG=True

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY=secret

# Hosted url for the application
HOST_URL=http://localhost:8000

# Email settings
EMAIL_FROM="AmirMohammad Hosseini Nasab <amir@example.com>"
EMAIL_HOST=smtp.example.com
EMAIL_USE_TLS=True
EMAIL_PORT=587
EMAIL_HOST_USER=amir@example.com
EMAIL_HOST_PASSWORD=password